<app-navbar [loggedIn]="loggedIn"
            [showSignUpButton] = "!showCreateUserForm && !loggedIn"
            [showLoginButton]="!loggedIn && !showLoginForm"

            (loggingIn)="showLoginFormEvent()"
            (signingUp)="showCreateUserFormEvent()">

</app-navbar>
<div class="container">

  <app-new-user-form *ngIf="!loggedIn && showCreateUserForm"></app-new-user-form>

  <app-login-form *ngIf="showLoginForm && !loggedIn && !showCreateUserForm"></app-login-form>

  <!--  <app-profile></app-profile>
  <app-company></app-company>
  <br>
  <app-search-for-company></app-search-for-company>-->
</div>

