<h2>{{company?.name}}</h2>
<div class="card card-body mb-3">
  <!--  CEO-->
  <div class="card card-body mb-3">
    <h5>CEO:
      <small>
        <small>
          <button (click)="showCEOClick($event)" class="btn btn-dark btn-sm h-1">
            <i [ngClass]="showCEO?'fa fa-minus':'fa fa-plus'"></i>
          </button>
        </small>
      </small>
    </h5>
    <div *ngIf="showCEO && company.ceo">
      <app-person [person]="company.ceo"></app-person>
    </div>
  </div>

  <!--Company Address-->
  <div class="card card-body mb-3">
    <h5>Address:
      <small>
        <small>
          <button (click)="showAddressClick($event)" class="btn btn-dark btn-sm h-1">
            <i [ngClass]="showAddress?'fa fa-minus':'fa fa-plus'"></i>
          </button>
        </small>
      </small>
    </h5>
    <app-address *ngIf="showAddress" [address]="company.address"></app-address>
  </div>

  <!--Further Details-->
  <div class="card card-body mb-3">
    <h5>Further Details:
      <small>
        <small>
          <button (click)="showFurtherDetailsClick($event)" class="btn btn-dark btn-sm h-1">
            <i [ngClass]="showFurtherDetails?'fa fa-minus':'fa fa-plus'"></i>
          </button>
        </small>
      </small>
    </h5>
    <ul *ngIf="showFurtherDetails" class="list-group">
      <li class="list-group-item">{{company.furtherDetails.description}}</li>
      <li class="list-group-item">{{company.furtherDetails.services}}</li>
      <li class="list-group-item">{{company.furtherDetails.products}}</li>
      <li class="list-group-item">Turn Over: {{company.turnover | currency}} </li>
    </ul>
  </div>

  <!--Board Members-->
  <div class="card card-body mb-3">
    <h5>Board Members:
      <small>
        <small>
          <button (click)="showBoardMembersClick($event)" class="btn btn-dark btn-sm h-1">
            <i [ngClass]="showBoardMembers?'fa fa-minus':'fa fa-plus'"></i>
          </button>
        </small>
      </small>
    </h5>
    <ul class="list-group" *ngIf="showBoardMembers && company.bod">
      <li class="list-group-item" *ngFor="let boardPerson of company.bod">
        <app-person [person]="boardPerson"></app-person>
      </li>
    </ul>
  </div>

  <!-- Sector details -->
  <div class="card card-body mb-3">
    <h5>Sector:
      <small>
        <small>
          <button (click)="showSectorClick($event)" class="btn btn-dark btn-sm h-1">
            <i [ngClass]="showSector?'fa fa-minus':'fa fa-plus'"></i>
          </button>
        </small>
      </small>
    </h5>
    <div *ngIf="company.sector && showSector">
      <app-sector [sector]="company.sector"></app-sector>
    </div>
  </div>

  <!--  Stocks-->
  <div class="card card-body mb-3">
    <h5>Stocks Available:
      <small>
        <small>
          <button (click)="showStocksClick($event)" class="btn btn-dark btn-sm h-1">
            <i [ngClass]="showStocks?'fa fa-minus':'fa fa-plus'"></i>
          </button>
        </small>
      </small>
    </h5>
    <div *ngIf="company.stockCodes && company.stockCodes?.length > 0 && showStocks">
      <ul class="list-group">
        <li class="list-group-item w-50" *ngFor="let stockCode of company.stockCodes">
          <app-stock-codes [stockCode]="stockCode"
                           [viewCompany]="false"
                           [viewStockExchange]="false"></app-stock-codes>
        </li>
      </ul>
    </div>
  </div>

  <!--  Ipos-->
  <div class="card card-body mb-3">
    <h5>Available Ipos:
      <small>
        <small>
          <button (click)="showIposClick($event)" class="btn btn-dark btn-sm h-1">
            <i [ngClass]="showIpos?'fa fa-minus':'fa fa-plus'"></i>
          </button>
        </small>
      </small>
    </h5>
    <div *ngIf="company.ipos && company.ipos?.length > 0 && showIpos">
      <ul class="list-group">
        <li class="list-group-item w-50" *ngFor="let ipo of company.ipos">
          <app-ipo [ipo]="ipo" [viewingCompany]="false"></app-ipo>
        </li>
      </ul>
    </div>
  </div>
</div>
